
@font-face {
    font-family: 'share-tech-mono';
    src: url(ShareTechMono-Regular.ttf)

}

body { 
    padding: 20px; 
    max-inline-size: 500px;
    margin-inline: auto;
    background-color: #F3FFF2;
    font-family: "Share Tech Mono", monospace;
}

h1 { 
    color: #3E405B; 
    font-family: "Share Tech Mono", monospace;
    text-align: center;
}

.welcome {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #2F97C1;
    line-height: 0.4;
    margin-top: 0;      
    margin-bottom: 0;
}

img {
    width: 90px; 
    display: block;
    margin: auto; 
    margin-top: 0; 
}

form{
    text-align: center;
}

ul { 
    list-style: none; 
    padding: 0; 
    line-height:1.6;
}

li { 
    margin-bottom: 30px; 
}

.game-title { 
    font-weight: bold; 
    font-size: 1.3rem;
}

.discount{
    font-weight:bold;
}

.last-checked{
    font-style: italic;
    color: #6C6F85;
    font-size: 0.7rem;
}

.target-label {
    color: #3f405c;
    font-weight: bold;
    margin-bottom: 15px;
}

mark {
    background-color: #EBFF94; 
    color:#4588C4;
  }

form { 
    margin-bottom: 20px; 
    margin-top: 20px;
}

button { 
    padding: 8px 16px; 
    font-weight: bold;
    cursor: pointer; 
    font-family: "Share Tech Mono", monospace;
    background-color: #4588C4;
    text-decoration: bold;
    color:#EBFF94;
    border-color: #4588C4;  
    border-radius: 8px;
}


button:hover {
    background-color: #83b3db;
}

button.small-button {
    padding: 4px 8px; 
    font-size: 0.8rem;
}

h2 {
    color: #3E405B; 
    font-size: 1.8rem;
    margin-top: 50px;
}

input{ 
    padding: 6px; 
    width: 300px; 
    border: 2px solid #4588C4;
    border-radius: 8px;
    color:#4588C4;
    font-family: "Share Tech Mono", monospace;
}

input::placeholder{
    color:#4588C4;
    font-family: "Share Tech Mono", monospace;
}

.small-input{
    width: 80px;
}

a{
    color: #3872A2;
    text-decoration: none;
    font-weight: bold;
}

a:hover,
a:focus-visible{
    color: rgb(133, 207, 151)
}

.game-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #4588C4; 
    margin-top: 20px;
}

table th {
    color: #4588C4; 
    padding: 5px; 
    text-align: left; 
    
}

table td {
    padding: 10px; 
    border: 1px solid #4588C4; 
    font-size: 0.9rem;
    color:#6C6F85
}
table tr:nth-child(even) {
    background-color: #f5fbff; 
}

table tr:nth-child(odd) {
    background-color: #ffffff; 
}

table tr:hover {
    background-color: #cee6fa; 
}